@charset "UTF-8";
.active {
  color: #f14a58;
}

.filters-off {
  display: none;
}

.filters {
  display: block;
}
.filters__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.filters .filter {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.filters .filter--active {
  background-color: #f7f7f7;
}
.filters .filter:before {
  content: "";
  position: absolute;
  display: none;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 0 0px;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.filters .filter__drop {
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 999;
}
.filters .filter__drop .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 30px;
  padding-left: 20px;
}
.filters .filter__drop .item:hover {
  background-color: #f7f7f7;
  color: #f14a58;
}
.filters .filter:hover .filter__drop {
  display: block;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.filters .filter:hover {
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.filters .filter:hover .filters .filter__drop, .filters .filter:hover::before {
  display: block;
}
.filters .filter::after {
  content: "▼";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 6px;
}
.filters .filter__style {
  display: none;
}
.filters .filter__style--active {
  display: block;
  color: #f14a58;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-left: 20px;
}
.filters .filter__name {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
  padding-left: 20px;
}
.filters .filter__name--active {
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.36px;
}

.main__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.sale-notice {
  width: 100%;
  padding: 85px 0 40px 0;
  text-align: center;
}
.sale-notice__title {
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
}
.sale-notice__title span {
  color: #f14a58;
}
.sale-notice__desc {
  padding-top: 20px;
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: 400;
}
