@import url(fonts.css);
@import url(normalize.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f14a58;
}

li {
  list-style: none;
}

.overflow {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

body {
  height: 100%;
  font-family: "Roboto", -apple-system, "Segoe UI", sans-serif;
  color: #000000;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 40px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  position: relative;
}
.header__top {
  display: flex;
  align-items: center;
  height: 70px;
}
.header .logo {
  font-family: "Open Sans";
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.9px;
  margin-right: auto;
}
@media screen and (max-width: 1024px) {
  .header .logo {
    font-size: 26px;
  }
}
.header .customer {
  display: flex;
  font-size: 12px;
  letter-spacing: 0.36px;
  justify-self: end;
}
@media screen and (max-width: 768px) {
  .header .customer {
    padding-right: 20px;
  }
}
@media screen and (max-width: 768px) {
  .header .customer .sing-up {
    display: none;
  }
}
.header .menu {
  display: none;
  height: 100%;
  padding-left: 20px;
  justify-content: end;
  align-items: center;
  border-left: 1px solid #e5e5e5;
}
.header .menu__btn {
  position: relative;
  display: flex;
  align-items: center;
  width: 20px;
  height: 17px;
  cursor: pointer;
  z-index: 1;
}
.header .menu__btn span {
  width: 100%;
  height: 3px;
  background-color: #000000;
  position: absolute;
  top: 7px;
}
.header .menu__btn.open span {
  display: none;
}
.header .menu__btn::before, .header .menu__btn::after {
  content: " ";
  height: 3px;
  background-color: #000000;
  position: absolute;
}
.header .menu__btn.menu__btn::before {
  bottom: 0;
  width: 100%;
}
.header .menu__btn.menu__btn::after {
  top: 0;
  width: 100%;
}
.header .menu__btn.open::before, .header .menu__btn.open::after {
  top: 7px;
  bottom: 0;
  width: 100%;
  background-color: #f14a58;
}
.header .menu__btn.open::before {
  transform: rotate(-45deg);
}
.header .menu__btn.open::after {
  transform: rotate(45deg);
}
@media screen and (max-width: 768px) {
  .header .menu {
    display: flex;
  }
}
.header .bag {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
@media screen and (max-width: 768px) {
  .header .bag {
    padding: 0;
  }
}
.header .bag img {
  padding-right: 10px;
}
.header .bag .bag-price {
  padding: 0 5px;
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .header__navigation {
    display: none;
    position: absolute;
    flex-direction: column;
    align-items: flex-start;
    top: 71px;
    width: 100vw;
    height: calc(100vh - 71px);
    background-color: #ffffff;
    z-index: 20;
    left: 0;
    padding: 20px;
    justify-content: space-around;
  }
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  max-width: 950px;
  width: 950px;
}
@media screen and (max-width: 768px) {
  .header .navigation {
    flex-direction: column;
    width: auto;
    height: 70%;
    align-items: flex-start;
  }
}
.header .item {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 0.39px;
  cursor: pointer;
}
.header .item a {
  display: block;
}
.header .item:hover {
  color: #f14a58;
}
@media screen and (max-width: 1024px) {
  .header .item {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .header .item {
    font-size: 24px;
    line-height: normal;
    letter-spacing: 0.72px;
  }
}
.header__search {
  position: relative;
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin-left: 55px;
  background-color: #ffffff;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .header__search .border {
    position: absolute;
    display: block;
    right: 0;
    top: 35px;
    width: 0px;
    height: 2px;
    background-color: #e5e5e5;
    transition: 1s;
  }
  .header__search .border--active {
    width: 215px;
  }
}
.header__search input {
  width: 120px;
  border: none;
  padding: 10px 0;
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.36px;
  border-bottom: 2px solid #e5e5e5;
}
.header__search input:focus {
  outline: none;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .header__search input {
    position: absolute;
    border: none;
    right: 15px;
    width: 0;
    top: 50%;
    transform: translate(0, -50%);
    transition: 1s;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, white 10%);
  }
  .header__search input:focus {
    width: 250px;
    transition: 1s;
    padding-left: 50px;
  }
}
@media screen and (max-width: 768px) {
  .header__search input {
    position: relative;
    display: flex;
    right: 0;
    width: 170px;
    border: none;
  }
}
.header__search label {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .header__search {
    margin: 0;
    border-bottom: 2px solid #e5e5e5;
  }
}

hr {
  border: none;
  max-width: 1400px;
  margin: 0 auto;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), color-stop(1%, #e5e5e5), color-stop(99%, #e5e5e5), to(rgba(255, 255, 255, 0)));
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, #e5e5e5 1%, #e5e5e5 99%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #e5e5e5 1%, #e5e5e5 99%, rgba(255, 255, 255, 0) 100%);
}
@media screen and (max-width: 1300px) {
  hr {
    background-color: #e5e5e5;
  }
}

.hero__container {
  max-width: 1300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.hero__item {
  position: relative;
  flex: 1;
}
.hero__item--right {
  border-left: 1px solid #e5e5e5;
}
@media screen and (max-width: 768px) {
  .hero__item--right {
    display: none;
  }
}
.hero__item-image {
  width: 100%;
  vertical-align: middle;
}
.hero__item-info {
  position: absolute;
  right: 10%;
  top: 10%;
}
.hero__item-name {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
}
@media screen and (max-width: 1024px) {
  .hero__item-name {
    font-size: 22px;
  }
}
.hero__item-sale {
  color: #757575;
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.best-offer {
  padding: 100px 0;
}
@media screen and (max-width: 768px) {
  .best-offer {
    padding: 53px 0 100px;
  }
}
.best-offer__desc {
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  padding: 0 20px;
}
@media screen and (max-width: 768px) {
  .best-offer__desc {
    font-size: 14px;
    padding: 0 10px;
  }
}
.best-offer__items {
  position: relative;
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .best-offer__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.best-offer__items span {
  position: relative;
  right: 9px;
  width: 0;
  bottom: 50px;
  font-size: 34px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 1.02px;
}
@media screen and (max-width: 1024px) {
  .best-offer__items .equel {
    right: 0;
  }
}
@media screen and (max-width: 768px) {
  .best-offer__items .equel {
    display: none;
  }
}
.best-offer__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  align-self: center;
}
.best-offer__item.item {
  align-self: flex-start;
}
@media screen and (max-width: 1024px) {
  .best-offer__item {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .best-offer__item {
    width: 50%;
  }
}
.best-offer .btn-arrow {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.best-offer .btn-arrow:focus {
  outline: none;
}
@media screen and (max-width: 768px) {
  .best-offer .btn-arrow img {
    width: 16px;
    height: 10px;
  }
}
.best-offer .total-cost {
  position: relative;
  text-align: center;
  bottom: 50px;
  padding: 0 10px;
  max-width: 335px;
  padding: 0 100px;
}
@media screen and (max-width: 1024px) {
  .best-offer .total-cost {
    width: 33.3% !important;
  }
}
@media screen and (max-width: 768px) {
  .best-offer .total-cost {
    padding: 0;
    padding-top: 70px;
    width: 100% !important;
    max-width: none;
    bottom: 0;
  }
}
.best-offer .total-cost__old-cost {
  position: absolute;
  display: flex;
  bottom: 44px;
  left: 50px;
  color: #757575;
  font-size: 26px;
  font-weight: 400;
  letter-spacing: 0.78px;
}
.best-offer .total-cost__old-cost::before {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 1px;
  background-color: #f14a58;
  transform: rotate(-30deg);
}
@media screen and (max-width: 1024px) {
  .best-offer .total-cost__old-cost::before {
    width: 85px;
  }
}
@media screen and (max-width: 1024px) {
  .best-offer .total-cost__old-cost {
    left: 70px;
    font-size: 22px;
  }
}
@media screen and (max-width: 768px) {
  .best-offer .total-cost__old-cost {
    left: 50%;
    transform: translate(-50%);
    font-size: 18px;
  }
  .best-offer .total-cost__old-cost::before {
    width: 70px;
  }
}
.best-offer .total-cost__new-cost {
  position: relative;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 1.02px;
}
@media screen and (max-width: 1024px) {
  .best-offer .total-cost__new-cost {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .best-offer__items-btn.plus {
    position: relative;
    bottom: 25px;
  }
}
.best-offer__btn-add {
  display: inline-block;
  position: absolute;
  bottom: 187px;
  right: 0;
}
@media screen and (max-width: 1024px) {
  .best-offer__btn-add {
    position: relative;
    bottom: 0;
    margin: 0 auto;
    margin-top: 75px;
  }
}
@media screen and (max-width: 768px) {
  .best-offer__btn-add {
    margin-top: 30px;
  }
}

.product__slider {
  width: 100%;
  height: 100%;
}
.product__slider-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0 !important;
}
.product__slider-item a {
  display: block;
}
.product__slider-item--hide {
  display: none !important;
}
@media screen and (max-width: 1024px) {
  .product__slider-item {
    width: 100% !important;
  }
}
@media screen and (max-width: 768px) {
  .product__slider-item {
    width: 100% !important;
  }
}

.section-title {
  font-family: "Open Sans";
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: 1.5px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 40px;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 26px;
    letter-spacing: 0.78px;
  }
}

.product-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 10px 0 10px;
}
@media screen and (max-width: 1024px) {
  .product-item {
    width: 33.3%;
  }
}
@media screen and (max-width: 768px) {
  .product-item {
    width: 50%;
  }
}
.product-item a {
  max-width: 100%;
  height: 100%;
}
.product-item--new a {
  position: relative;
}
.product-item--new a::after {
  content: "NEW";
  position: absolute;
  top: 15px;
  left: 0;
  padding: 8px 12px;
  background-color: #f14a58;
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.39px;
  z-index: 1;
}
.product-item__desc {
  text-align: center;
  padding-top: 50px;
  max-width: 240px;
  height: 90px;
}
.product-item__btn-up {
  margin-bottom: 40px;
}
@media screen and (max-width: 1024px) {
  .product-item__btn-up {
    margin-bottom: 30px;
  }
}
.product-item__image {
  position: relative;
  max-width: 240px;
  height: auto;
  z-index: 1;
}
.product-item__image img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.product-item__image::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  opacity: 0;
  background-color: #000000;
}
.product-item__image::after {
  content: "View Item";
  position: absolute;
  left: 50%;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  color: #f14a58;
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.66px;
  opacity: 0;
}
a:hover .product-item__image::after, a:hover .product-item__image::before {
  opacity: 1;
}
a:hover .product-item__image img {
  opacity: 0.4;
}
@media screen and (max-width: 1024px) {
  a:hover .product-item__image::after, a:hover .product-item__image::before {
    opacity: 0;
  }
  a:hover .product-item__image img {
    opacity: 1;
  }
}
.product-item__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 768px) {
  .product-item__title {
    font-size: 12px;
  }
}
.product-item__price-old {
  position: relative;
  color: #757575;
  padding-right: 10px;
}
.product-item__price-old::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -5px;
  width: 109%;
  height: 1px;
  background-color: #f14a58;
  transform: rotate(-30deg);
}
.product-item__btn-down {
  transform: rotate(180deg);
  margin-top: 40px;
}

.price__wrap {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 768px) {
  .price__wrap {
    font-size: 12px;
  }
}

.main-btn {
  display: inline-block;
  padding: 25px 100px;
  border: 1px solid #e5e5e5;
  background-color: #ffffff;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.72px;
  outline: none;
  cursor: pointer;
}
.main-btn:hover {
  border-color: #f14a58;
  color: #f14a58;
}
@media screen and (max-width: 1024px) {
  .main-btn {
    padding: 25px 114px;
  }
}
@media screen and (max-width: 768px) {
  .main-btn {
    padding: 25px 65px;
    font-size: 20px;
    margin-top: 35px;
  }
}

.d-flex {
  display: flex;
}

.new-arrivals {
  padding: 100px 0;
  text-align: center;
}
.new-arrivals__block {
  display: flex;
  justify-content: space-between;
}
.new-arrivals__block--hide {
  display: none;
}
@media screen and (max-width: 768px) {
  .new-arrivals__block {
    justify-content: space-around;
  }
}
.new-arrivals__btn-add {
  margin-top: 75px;
}

@media screen and (max-width: 768px) {
  .footer .container {
    padding: 0;
  }
}
.footer__content {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__content {
    flex-direction: column;
  }
}
.footer__content > div {
  flex: 1 1 auto;
}
.footer__links {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 50px 59px 140px;
  border-right: 1px solid #e5e5e5;
}
@media screen and (max-width: 1024px) {
  .footer__links {
    border: none;
    flex: 2;
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 768px) {
  .footer__links {
    padding: 50px 20px 35px 20px;
  }
}
.footer__links-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 1024px) {
  .footer__links-wrap {
    justify-content: space-around;
    max-width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .footer__links-wrap {
    width: 100%;
    justify-content: space-around;
  }
}
.footer__lists {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-right: 40px;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .footer__lists {
    padding-right: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__lists:last-child {
    padding-left: 20px;
  }
}
.footer__item {
  padding-bottom: 25px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
.footer__item a:hover {
  text-decoration: underline;
  color: inherit;
}
@media screen and (max-width: 768px) {
  .footer__item {
    font-size: 12px;
  }
}
.footer__lists-title {
  padding-bottom: 50px;
}
.footer-title {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
}
@media screen and (max-width: 768px) {
  .footer-title {
    font-size: 14px;
  }
}
.footer-desc {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 768px) {
  .footer-desc {
    font-size: 12px;
  }
}
.footer__down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
}
.footer__contacts {
  flex: 1;
  padding: 50px 50px 0 60px;
}
@media screen and (max-width: 1024px) {
  .footer__contacts {
    display: flex;
    flex-direction: column;
    padding-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__contacts {
    padding: 0;
    border-top: 1px solid #e5e5e5;
  }
}
.footer__contacts-wrap {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
}
@media screen and (max-width: 1024px) {
  .footer__contacts-wrap {
    flex-direction: column;
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .footer__contacts-wrap {
    flex-direction: row;
    width: 100%;
    max-width: 100%;
    justify-content: space-around;
  }
}
@media screen and (max-width: 768px) {
  .footer__block {
    padding-right: 40px;
    width: 50%;
    padding: 25px 20px 35px 20px;
  }
}
@media screen and (max-width: 1024px) {
  .footer__block:last-child {
    padding-top: 40px;
  }
}
@media screen and (max-width: 768px) {
  .footer__block:last-child {
    padding: 25px 20px 35px 20px;
    border-left: 1px solid #e5e5e5;
  }
}
.footer__block-desc {
  padding-top: 20px;
}
.footer__block-desc span {
  font-weight: 700;
}
.footer__delivery-info {
  width: 310px;
  padding-top: 80px;
  color: #757575;
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
@media screen and (max-width: 1024px) {
  .footer__delivery-info {
    display: none;
  }
}
.footer__social {
  padding-top: 40px;
}
.footer__social a {
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .footer__social {
    display: none;
  }
}
.footer__info {
  display: flex;
  width: 300px;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .footer__info {
    display: none;
  }
}
.footer__copiring {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.36px;
}
@media screen and (max-width: 768px) {
  .footer__copiring {
    font-size: 10px;
  }
}
.footer__share {
  display: flex;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.54px;
}
.footer__share span {
  position: relative;
  background-color: #f4f4f4;
  padding: 5px;
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.36px;
}
.footer__share span::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -12px;
  border: 6px solid transparent;
  border-right: 6px solid #f4f4f4;
}
@media screen and (max-width: 768px) {
  .footer__share {
    font-size: 14px;
  }
}
.footer__info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.36px;
}
.footer__hide {
  display: none;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
  border-bottom: 1px solid #e5e5e5;
}
.footer__hide-info {
  display: flex;
}
.footer__hide-item {
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 0.3px;
  letter-spacing: 0.1px;
  padding-right: 20px;
}
.footer__hide-social img {
  padding-left: 15px;
}
@media screen and (max-width: 768px) {
  .footer__hide {
    display: flex;
  }
}

.banners {
  padding-top: 100px;
}
.banners__container {
  display: flex;
  max-width: 1300px;
  justify-content: center;
  margin: 0 auto;
}
.banners__item {
  position: relative;
  flex: 1;
}
.banners__item--big {
  flex: 2;
}
.banners__item--big .banners__item-info {
  top: 15%;
  right: 10%;
  transform: translate(0, 0);
  bottom: inherit;
  left: inherit;
}
.banners__item--big .banners__item-sale {
  color: #ffffff;
}
.banners__item-image {
  width: 100%;
  vertical-align: middle;
}
.banners__item-info {
  position: absolute;
  bottom: 53px;
  left: 50%;
  text-align: center;
  transform: translate(-50%);
  color: #ffffff;
}
.banners__item-info--red {
  color: #f14a58;
}
.banners__item-price {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
.banners__item-name {
  font-family: "Open Sans";
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 0.84px;
  padding-bottom: 12px;
  width: max-content;
}
@media screen and (max-width: 1024px) {
  .banners__item-name {
    font-size: 22px;
  }
}
.banners__item-sale {
  color: #757575;
  font-family: "Times New Roman";
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .banners__item:nth-child(3) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .banners__item:nth-child(2) {
    display: none;
  }
}

.section-back .container {
  display: flex;
  height: 65px;
  align-items: center;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.48px;
}
@media only screen and (max-width: 768px) {
  .section-back .container {
    font-size: 12px;
    height: 55px;
  }
}
.section-back__title {
  font-size: 26px;
}
@media only screen and (max-width: 1024px) {
  .section-back__title {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .section-back__title {
    font-size: 18px;
  }
}

.full-item {
  padding-top: 60px;
}
@media screen and (max-width: 1024px) {
  .full-item {
    padding-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .full-item {
    padding-top: 15px;
  }
}
.full-item__wrap {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .full-item__wrap {
    justify-content: center;
  }
}
.full-item__images {
  position: relative;
  width: 50%;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .full-item__images {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: row;
  }
}
@media screen and (max-width: 768px) {
  .full-item__images {
    width: 100%;
  }
}
.full-item__images img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
.full-item .full-image--hide {
  display: none;
}
@media screen and (max-width: 1024px) {
  .full-item .full-image {
    flex: 3;
  }
}
@media screen and (max-width: 768px) {
  .full-item .full-image {
    width: 100%;
  }
}
.full-item__thumbnail {
  display: flex;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .full-item__thumbnail {
    flex-direction: column;
    width: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .full-item__thumbnail {
    flex: 1;
  }
}
.full-item__thumbnail .thumbnail {
  flex: 1;
  width: 150px;
  opacity: 1;
  background-color: #000000;
}
@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .full-item__thumbnail .thumbnail {
    width: auto;
  }
}
.full-item__thumbnail .thumbnail--active img {
  opacity: 0.4;
}
.full-item__thumbnail .thumbnail img {
  cursor: pointer;
}
.full-item__info {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 25px 0 0 50px;
}
@media screen and (max-width: 1024px) {
  .full-item__info {
    padding-left: 0;
    align-items: center;
    width: 100%;
  }
}
.full-item__title {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .full-item__title {
    font-size: 20px;
  }
}
.full-item__flex {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 1024px) {
  .full-item__flex {
    flex-direction: column-reverse;
  }
}
.full-item__desc {
  padding-top: 15px;
  font-family: "Times New Roman";
  font-size: 16px;
  line-height: 30px;
}
@media screen and (max-width: 1024px) {
  .full-item__desc {
    text-align: center;
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .full-item__desc {
    text-align: center;
  }
}
.full-item__price {
  padding-top: 40px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.75px;
}
@media screen and (max-width: 1024px) {
  .full-item__price {
    padding-top: 30px;
    font-size: 18px;
  }
}
.full-item__blocks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .full-item__blocks {
    align-self: flex-start;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}
.full-item__blocks > * {
  margin: 0 30px 30px 0;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
}
.full-item__sizes {
  padding-top: 40px;
}
.full-item__block {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  cursor: pointer;
}
.full-item__block:hover {
  outline: 1px solid #f5f5f5;
  color: #f14a58;
}
@media screen and (max-width: 768px) {
  .full-item__block {
    margin-right: 20px;
  }
}
.full-item__colors {
  padding-bottom: 45px;
}
.full-item--active {
  outline: 1px solid #e5e5e5;
}
.full-item--active:hover {
  outline: 1px solid #e5e5e5;
}
.full-item__add-btn {
  align-self: center;
  margin-top: 0;
}

.bag-items {
  padding-top: 30px;
}
@media screen and (max-width: 768px) {
  .bag-items {
    padding-top: 15px;
  }
}
.bag-items__wrap {
  display: flex;
  flex-wrap: wrap;
}
.bag-items__item {
  display: flex;
  width: 50%;
  padding-bottom: 90px;
}
@media screen and (max-width: 768px) {
  .bag-items__item {
    width: 100%;
    justify-content: center;
    padding-bottom: 40px;
  }
}
.bag-items__image::after {
  content: "Edit Item";
}
.bag-items__info {
  width: 240px;
  max-width: 240px;
}
.bag-items__info-wrap {
  padding: 10px 25px;
}
@media screen and (max-width: 768px) {
  .bag-items__info-wrap {
    padding: 10px 15px;
  }
}
.bag-items__title {
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .bag-items__title {
    font-size: 12px;
  }
}
.bag-items__price {
  padding-top: 20px;
  font-size: 16px;
  font-weight: 700;
}
@media screen and (max-width: 1024px) {
  .bag-items__price {
    padding: 0;
    font-size: 14px;
    line-height: 24px;
  }
}
.bag-items__custom-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
@media screen and (max-width: 1024px) {
  .bag-items__custom-wrap {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .bag-items__custom-wrap {
    font-size: 10px;
    letter-spacing: 0.3px;
  }
}
.bag-items__custom-wrap > * {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
}
.bag-items__quantity {
  padding-bottom: 0;
}
.bag-items__quantity-btn {
  position: relative;
  height: 10px;
  width: 10px;
  font-weight: 700;
  cursor: pointer;
  margin: 0 10px;
  background: none;
  outline: none;
  border: none;
}
.bag-items__quantity-btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background: #f14a58;
}
.bag-items__quantity .plus-btn::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%);
  background: #f14a58;
}
.bag-items__btn-remove {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 700;
  color: #f14a58;
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .bag-items__btn-remove {
    font-size: 12px;
  }
}

.free-delivery {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #f7f7f7;
}
.free-delivery .container {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.free-delivery__info {
  font-family: "Open Sans";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.36px;
  text-align: center;
}
.free-delivery__info span {
  color: #f14a58;
}

.checkout {
  padding-top: 30px;
  padding-bottom: 100px;
}
.checkout__wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .checkout__wrap {
    flex-direction: column-reverse;
  }
}
.checkout__empty-bag {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.39px;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}
.checkout__empty-bag:hover {
  color: #f14a58;
}
@media screen and (max-width: 768px) {
  .checkout__empty-bag {
    padding-top: 20px;
    font-size: 10px;
  }
}
.checkout__btn {
  margin: 0;
}
.checkout__price {
  display: flex;
  flex-direction: column;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .checkout__price {
    height: auto;
    align-items: center;
  }
}
.checkout__price-discount {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 16px;
  letter-spacing: 0.48px;
  color: #f14a58;
}
.checkout__price-discount.hide {
  display: none;
}
.checkout__price-discount span {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .checkout__price-discount span {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .checkout__price-discount {
    position: static;
    font-size: 12px;
  }
}
.checkout__price-total {
  font-size: 22px;
  font-weight: 700;
  letter-spacing: 0.66px;
}
@media screen and (max-width: 768px) {
  .checkout__price-total {
    padding: 10px 0 20px 0;
    font-size: 16px;
  }
}
.checkout__price-total span {
  font-size: 24px;
}
@media screen and (max-width: 1024px) {
  .checkout__price-total span {
    font-size: 18px;
  }
}
